{# Load the tag library #}
{% load static %}

<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="{% static 'conley/css/bootstrap.css' %}" />
</head>
<body>


{% load embed_video_tags %}
{% load rest_framework %}
<h1>Non-Sibi</h1>


{% for item in movies %}
<div class="container">


<div  class="panel panel-default">
  <div class="panel-body">

 {{ item.title }}
 <br>
    {% video item.video as my_video %}

        <a href="/movie/{{item.id}}" >
<img src="{{ my_video.thumbnail }}" alt="" height="240" width="320"/>
</a>

    {% endvideo %}



</div>
</div>
</div>
<br><br>
{% endfor %}
<div class="container">
<form method="post">
  {% csrf_token %}

<div>
  URL:
  <input type="text" name="url", id="id_url">
</div>
<div>
  Date:
  <input type="text" name="date" id="id_date">
</div>
<div>
  Title:
  <input type="text" name="title" id="id_title">

</div>
<button id="submit" class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>

</form>
</div>

{% block javascript %}
  <script>

  </script>
{% endblock %}



</form>
</body>
<script src="{% static 'conley/js/main.js' %}"></script>
