{# Load the tag library #}
{% load static %}

<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="{% static 'conley/css/bootstrap.css' %}" />
</head>
<body>


{% load embed_video_tags %}
<h1>Non-Sibi</h1>
{{movie.title}}
<br>
{% video movie.video as my_video %}

{% video my_video 'medium' %}
{% endvideo %}


{% for tag in tags%}
  {{ tag.tag }}
{% endfor %}

{% for person in people%}
  {{ person.person }}
{% endfor %}


{{ movie.url }}

<div class="container">
<form method="post">
  {% csrf_token %}

<div>
  Who is in this video?
  <input type="text" name="person", id="id_person">
  <input type="hidden" id="id_movieObj" name="movieObj" value="{{ movie.url }}">
</div>
<button id="submit" class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>

</form>
</div>

<script type="text/javascript">

//For getting CSRF token
function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie != '') {
              var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
             var cookie = jQuery.trim(cookies[i]);
        // Does this cookie string begin with the name we want?
        if (cookie.substring(0, name.length + 1) == (name + '=')) {
          cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
            break;
           }
        }
    }
return cookieValue;
}


//For doing AJAX post

//When submit is clicked
$("#submit").click(function(e) {

//Prevent default submit. Must for Ajax post.Beginner's pit.
e.preventDefault();


var person = $('#id_person').val();



//Prepare csrf token
var csrftoken = getCookie('csrftoken');
  $("#id_person").change(function () {
    console.log( $(this).val() );
  });
  $.ajax({
    url:'/api/People/',
    type: "POST",
    data: {movie: "{{movie.url}}", person: person, csrfmiddlewaretoken : csrftoken},
    success:function(response){window.location.reload();},
    complete:function(){},
    error:function (xhr, textStatus, thrownError){}
});
});

</script>
